[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
wheel = "*"

[packages]

[requires]
python_version = "3.7"

[scripts]
pack = "pipenv run python setup.py sdist --formats=gztar"
pubtest = "pipenv run twine upload --repository pypitest dist/*"
publish = "pipenv run twine upload --repository pypi dist/*"
